* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Ubuntu';
}
a {
  text-decoration: none;
}
body{
  position: relative;
  /* display: flex;
  flex-direction: column; */
}
header {
  width: 100%;
  height: 15%;
  background-color: #19849B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
h1, h2 {
  font-size: 30px;
  font-weight: 700;
 
}
p {
  font-size: 16px;
  font-weight: 400;
}
.content {
  width: 100%;
  background-color: #324b53;
  display: flex;
  flex-direction: column;
  padding: 30px 5% 40px 5%;
 
}
.content-top {
  width: 90%;
  height: 355px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 7%;
}

.lucas {
  width: 400px;
  height: 355px;
}
.text-content {
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.btn {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
}

.midlle-p {
margin: 14px 0 14px 0;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
.gallery1, .gallery2 {
  width: 100%;
  height: 230px;
  display: flex;
  object-fit: contain;
  justify-content: space-between;

}


.img {
width: 100px;
height: 230px;
margin-left: 10px;
flex-grow: 2;
object-fit: fill;
}
/* .img:hover {width: 1000px; height: 1500px;} */
.img-bottom {
  margin-top: 10px;
}
.img-left {
  margin-left: 0;
}
footer {
  height: 250px;
}
.footer-top-link {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-top {
  height: 205px;
  background-color: #19849B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom {
  height: 45px;
  background-color: #16758A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-lucas {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-right: 30px;
}
.lucas-link {
  font-size: 22px;
  font-weight: 700;
}
h5 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
.small-screen {
  display: none;
}
.content {
  position: relative;
  /* z-index: -1; */
}
.modal-window {
  position: absolute;
  display: table-cell;
  /* margin: 0 auto; */
  left: auto;
  right: auto;
  width: 50%;
  height: 50%;
  top: 15%;
  right: 23%;
  background-color: #272A2F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 21px 45px 0px 45px;
  display: none;
}
.modal-window p {
  font-size: 16px;
  font-weight: 400;
}
.modal-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal-textarea {
  width: 100%;
  height: 200px;
  background-color: #324B53;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.modal-inputs {
  width: 100%;
  height: 40px;
  margin-top: 15px;
}
.modal-input1 {
 width: 35%;
 height: 40px;
 background-color: #324B53;
 padding: 5px;
 margin-right: 6px;
} 
.modal-input2 {
  width: 62%;
  height: 40px;
  background-color: #324B53;
  padding: 5px;
}
.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal-btn {
  width: 35%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .lucas {
    width: 100%;
    height: 355px;
  }
  .content-top {
   display: contents;
   flex-direction: column;
  }
  .img {
    width: 70px;
    height: 150px;
    margin-left: 5px;
    flex-grow: 2;
    object-fit: fill;
    }
    /* .img {cursor: pointer; width: 140px; height: 300px;} */
    .text-content {
      margin-left: 0;
    }
    .gallery1, .gallery2 {
      width: 100%;
      height: 150px;
      display: flex;
      object-fit: contain;
      justify-content: space-between;
    }
    .btn {
      margin-bottom: 30px;
    }
    .modal-window {
      display: table-cell;
      top: 20%;
      right: 23%;
    } 
    .modal-inputs {
      display: flex;
      flex-direction: column;
      height: 85px;
    }
    .modal-textarea  {
      font-size: 10px;
    }
}
@media screen and (max-width: 450px) {
  .small-screen {
    display: flex;
    flex-direction: column;
  }
  .screen {
    display: flex;
  }
  .gallery1, .gallery2 {
    display: none;
    margin-top: 10px;
  }
  .footer-lucas {
 
    margin-right: 0px;
  }
  .img {
    margin-top: 5px;
  }
}

